/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value

	*** SCROLLING PORTFOLIO ***
 */
h1, h2 {
  color: red; }

#mypara {
  font-size: 18px;
  border: 1px solid red;
  padding: 14px 14px 14px 14px; }

#mypara:after {
  content: " with an append string"; }
